body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('C:\\Users\\talha\\demo of vs code\\Ict project\\skyyy.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no repeat;

}

header {
    text-align: center;
    background-color: #262626f8;
    color: white;
    padding: 10px;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #e96b16; 
}

.service-section {
    text-align: center;
    padding: 50px;
    color: rgb(205, 204, 204);
}

.service-card {
    
    background-color: rgba(165, 103, 41, 0.667);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(239, 239, 239, 0.916);
    margin: 20px;
    padding: 20px;
}
.service-card:hover {
    background-color: rgb(177, 110, 42);
  }

.service-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-section {
    background-color: #b4732e;
    color: white;
    text-align: center;
    padding: 50px;
}

.contact-button {
    display: inline-block;
    background-color: white;
    color: #b4732e;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.contact-button:hover {
    background-color: #333;
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
